name: CMake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

env:
  # Conan cache environment variables
  CONAN_SYSREQUIRES_MODE: enabled
  CONAN_USER_HOME: "${{ github.workspace }}/conan-cache"
  CONAN_USER_HOME_SHORT: "${{ github.workspace }}/conan-cache/short"
  REFERENCE_OS: 'ubuntu-latest'

jobs:
  build:
    name: "${{ matrix.configurations.name }} | ${{ matrix.cmake-build-type }}"
    environment: configure coverage
    runs-on: ${{ matrix.configurations.os }}
    strategy:
      fail-fast: false
      matrix:
        configurations:
          - name: Ubuntu Latest
            os: ubuntu-latest
          - name: MacOS Latest
            os: macos-latest
          - name: Windows Latest
            os: windows-latest
        # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
        cmake-build-type: [ Release, Debug, RelWithDebInfo ]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 100

    - name: Cache
      uses: actions/cache@v2
      env:
        cache-name: cache-conan-modules
      with:
        path: |
          ${{ env.CONAN_USER_HOME }}
          ~/.cache/pip
        key: ${{ runner.os }}-${{ matrix.cmake-build-type }}-${{ hashFiles('CMakeLists.txt') }}-${{ hashFiles('cmake/Conan.cmake') }}

    - name: Create Build Environment # setup directory for out-of-tree building
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Install conan
      shell: bash
      run: |
        python3 -m pip install --upgrade pip setuptools
        python3 -m pip install conan
        echo "/home/runner/.local/bin" >> $GITHUB_PATH

    - name: Install govr
      shell: bash
      run: |
        python3 -m pip install gcovr --user --no-warn-script-location

    - name: Check build prerequisites # Fail if we can't run conan or gcovr
      if: matrix.configurations.os == env.REFERENCE_OS
      shell: bash
      run: |
        conan --version
        gcovr --version

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=${{ matrix.cmake-build-type }} -DENABLE_COVERAGE:BOOL=TRUE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config ${{ matrix.cmake-build-type }}

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{ matrix.cmake-build-type }}

    - name: coverage report - send to Codecov
      if: matrix.configurations.os == env.REFERENCE_OS
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: |
        bash <(curl -s https://codecov.io/bash) -x /usr/bin/gcov
#        for debugging purposes
        find . -name "*cov"

    - name: coverage report - send to Codacy
      if: matrix.configurations.os == env.REFERENCE_OS
      working-directory: ${{ runner.workspace }}/build
      shell: bash
      run: | # convert to Cobertura's xml format to be palatable by Codacy
        gcovr -g -k --xml cobertura.xml
        echo "REPORT:"
        cat cobertura.xml
#        commented since there aren't any meaningful tests of classes in /src
#        bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r cobertura.xml --skip --project-token ${{ secrets.CODACY_PROJECT_TOKEN }}
